/* Reset CSS */
body, html {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

header {
    text-align: center;
    padding: 20px 0;
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #666;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

/* Additional CSS for the logo */
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 40px; /* Adjust the height as needed */
    width: auto; /* Maintain aspect ratio */
}

/* Slider CSS */
.gallery {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin-top: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.slide {
    display: none;
    width: 100%;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: #333;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
}

.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.gallery-heading {
    text-align: center;
    font-style: italic;
}
